/*GLOBAL*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /*font-family: 'PT Sans', sans-serif;*/
  font-family: 'PT Serif', serif;
  background-color: #ffffff;
  margin: 0;
}

.container-big {
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}
/*GLOBAL end*/

/*HEADER*/
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header-top__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #171717;
}

.header-top__link:hover {
  color: #C9A96E;
}

.header-top__link-active {
  color: #C9A96E;
}

.header-top__list {
  display: flex;
}

.header-top__list li + li {
  margin-left: 35px;
}
/*HEADER end*/

/*SLIDER*/
.slider__item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 700px;
}

.slider__item.slick-slide {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.slider__item-box.container {
  width: 100%;
  padding-bottom: 60px;
}

.slider__rubric {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.slider__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  max-width: 560px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.slider__date-author {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.slider__date-author .by {
  margin-left: 15px;
  margin-right: 4px;
  color: #B4B4B4;
}

.slick-dots {
  display: flex;
  position: relative;
  bottom: 50px;
}

.slick-dots li button {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  padding: 0;
  font-size: 0;
  border: 1px solid #ffffff;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.slick-dots li + li {
  margin-left: 8px;
}

.slick-dots .slick-active button {
  background-color: #ffffff;
}
/*SLIDER end*/

/*SECTION POST*/
.post__inner {
  display: flex;
}
/*left*/
.post__left {
  width: 67%;
}

.post__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post__item {
  max-width: 370px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.post__info {
  text-align: center;
}

.post__rubric {
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #C9A96E;
  padding-top: 15px;

}

.post__title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #171717;
  margin: 10px auto;
  width: 285px;
}

.post__date-author {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  padding-bottom: 14px;
}

.post__date-author .by {
  margin-left: 15px;
  margin-right: 4px;
  color: #B4B4B4;
}
/*sidebar*/
.sidebar {
  max-width: 270px;
  margin-left: auto;
  text-align: center;
}

.sidebar__toptitle,
.sidebar__middletitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #171717;
  border: 1px solid #E5E5E5;
  padding: 15px 70px 14px 70px;
  margin-bottom: 20px;
}

.info-block {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.info-block__title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #171717;
  margin-top: 15px;
}

.info-block__subtitle {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #B1B1B1;
  margin-top: 4px;
  margin-bottom: 14px;
}

.info-block__text {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #666666;
  max-width: 230px;
  margin: 0 auto;
}

.info-block__link {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #C9A96E;
  padding: 12px 78px 12px 78px;
  border-top: 1px solid #E5E5E5;
  margin: 14px 2px 0 2px ;
}

.categories__box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  border-bottom: 1px solid #E5E5E5;
}

.categories__box + .categories__box {
  margin-top: 14px;
}

.categorie,
.number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #666666;
}
/*PAGINATION*/
.post__pagination {
  max-width: 510px;
  margin: 0 auto 50px auto;

}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 15px 16px 15px;
  border: 1px solid #E5E5E5;
}

.pagination-prev .pagination__link,
.pagination-next .pagination__link {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  color: #171717;
}

.pagination-prev .pagination__link.disable {
  color: #A2A2A2;
}

.pagination__item .pagination__link {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #171717;
}

.pagination__item + .pagination__item {
  margin-left: 30px;
}
/*SECTION POST end*/

/*FOOTER*/
.footer__inner {
  text-align: center;
}

.footer__logo {
  margin-bottom: 60px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.footer__link {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #666666;
}

.footer__item + .footer__item {
  margin-left: 35px;
}
/*FOOTER end*/

/*FOOTER-BOTTOM*/
.footer-bottom__text {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #666666;
  padding: 30px 0 40px 0;
  text-align: center;
  border-top: 1px solid #E5E5E5;
}
/*FOOTER-BOTTOM end*/